* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.background-image-container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: -1;
}

.background-image1 {
  background-image: url("photo_2025-06-13_23-09-03.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
  height: 100%;
}

.background-image2 {
  background-color: #94d4a2;
  width: 50%;
  height: 100%;
}

.main-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  max-width: 492px;
}

form {
  text-align: center;
  width: 60%;
}

.login {
  font-size: 36px;
  margin: 20px 0;
  font-weight: 900;
}

.username,
.password {
  border-radius: 25px;
  margin-bottom: 15px;
  padding: 10px 20px;
  width: 100%;
  background-color: #efefef;
  border: none;
}

label {
  color: #585252;
}

a {
  text-decoration: none;
  color: #00b82c;
  font-weight: 600;
}

.sign-in {
  width: 100%;
  padding: 10px;
  border-radius: 25px;
  background-color: #00b82c;
  margin: 20px 0;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border: none;
}

.spacing {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 600px) {
  .main {
    max-width: 600px;
    width: 90%;
  }

  form {
    width: 96%;
  }
}
